node_modules
dist
dist-ssr
*.local
.DS_Store

# Test artifacts
/test-results/
/playwright-report/
/playwright/.cache/
coverage

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
